<aside id="sidebar">
  <div class="sidenav-outer">
    <div class="side-menu">
      <div class="menu-body">
        <ul class="nav nav-pills nav-stacked sidenav">
          <li [class.active]="isActive(['Home'])">
            <a [routerLink]="['Home']">
              <i class="fa fa-home"></i>
            </a>
            <ul class="nested-dropdown animated">
              <li><a [routerLink]="['Home']">Dashboard</a></li>
            </ul>
          </li>

          <li [class.active]="isActive(['Grids'])">
            <a [routerLink]="['Grids']">
              <i class="fa fa-th-large"></i>
            </a>
            <ul class="nested-dropdown animated">
              <li><a [routerLink]="['Grids']">Grids</a></li>
            </ul>
          </li>

          <li [class.active]="isActive(['Tables'])">
            <a [routerLink]="['Tables']">
              <i class="fa fa-list"></i>
            </a>
            <ul class="nested-dropdown animated">
              <li><a [routerLink]="['Tables']">Tables</a></li>
            </ul>
          </li>

          <li [class.active]="isActive(['Charts'])">
            <a [routerLink]="['Charts']">
              <i class="fa fa-line-chart"></i>
            </a>
            <ul class="nested-dropdown animated">
              <li><a [routerLink]="['Charts']">Charts</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="side-widgets">
      <div class="widgets-content">

        <user-profile-widget></user-profile-widget>

        <calendar-widget></calendar-widget>

        <news-feed-widget></news-feed-widget>
      </div>
    </div>
  </div>
</aside>