<aside id="sidebar">
  <div class="sidenav-outer">
    <div class="side-menu">
      <div class="menu-body">
        <ul class="nav nav-pills nav-stacked sidenav">
          <li>
            <a><i class="fa fa-home"></i></a>
            <ul class="nested-dropdown animated">
              <li><a>Dashboard</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="side-widgets">
      <div class="widgets-content">
        <center class="profile">
          <a><img src="assets/images/profile-icon.png" class="profile-icon" width="125"/></a>
          <div class="text-center avatar-name">Jay Kan</div>
        </center>
        <div class="calendar-container text-center">
          <div id="calendar1"></div>
        </div>
        <div class="news-feed">
          <div class="feed-header">NEWS FEEDS</div>
          <div class="feed-content">
            <ul class="feed">
              <li>
                <a href="">Anna liked StrapUI - Dashboard Themes & Templates.</a> <span class="feed-date">25/4/2015</span>
              </li>
              <li>
                <a href="">Henna birthday at Mezbaan at 7:00pm.</a> <span class="feed-date">25/4/2015</span>
              </li>
              <li>
                <a href="">Animesh Saha commented on your post.</a> <span class="feed-date">25/4/2015</span>
              </li>
              <li>
                <a href="">Server Alert: Need to upgrade your server.</a> <span class="feed-date">25/4/2015</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>