<div class="todo-container card card-danger">
  <div class="card-header">
    <div class="todo-header text-xs-center">
      <h4><i class="fa fa-tasks"></i>&nbsp;To do Tasks</h4>
    </div>
  </div>

  <div class="card-block" style="padding-bottom: 0;">
    <div class="todo-body">
      <div class="todo-list-wrap">
        <ul class="todo-list">
          <li *ngFor="let todo of _todoList.get()">
            <label class="checkbox1 animated bounceInDown">
              <input type="checkbox">
              <span></span>
            </label>
            <span class="done animated bounceInRight">{{ todo }}</span>
          </li>
        </ul>
      </div>
      <form class="todo-from-bottom" (submit)="addName()">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="newTodo">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-danger">Add</button>
            </span>
        </div>
      </form>
    </div>
  </div>
</div>